.form {
  composes: flex wrap from "@quoine/styles/flex.css";
}
.error {
  composes: line-1-5 from "@quoine/styles/text.css";
  composes: negative from "@quoine/styles/color.css";
}
.message {
  composes: primary-3 from "@quoine/styles/color.css";
}

.vertical .form {
  display: block;
}
