.USD {
  color: #35ACEF;
}
.EUR {
  color: #E91E63;
}
.SGD {
  color: #9C27B0;
}
.HKD {
  color: #673AB7;
}
.AUD {
  color: #3F51B5;
}
.CNY {
  color: #009688;
}
.INR {
  color: #795548;
}
.JPY {
  color: #F44336
}
.PHP {
  color: #4CAF50;
}
.IDR {
  color: #8BC34A;
}
.BTC {
  color: #FF9800;
}
.ETH {
  color: #00BCD4;
}
