.form {
  composes: flex from "@quoine/styles/flex.css";
}
.item {
  composes: fix from "@quoine/styles/flex.css";
  composes: left-small from "@quoine/styles/margin.css";
}
.item:first-child {
  margin: 0;
}
.error {
  composes: negative from "@quoine/styles/color.css";
}
.description {
  composes: primary-3 from "@quoine/styles/color.css";
}
