@import "@quoine/core/styles/_colors.css";

.heading {
  composes: primary-3 from "@quoine/styles/color.css";
  composes: bottom color-primary-1 from "@quoine/styles/border.css";
  composes: semi-bold small line-2 from "@quoine/styles/text.css";
  composes: hor-medium from "@quoine/styles/padding.css";
}
.item {
  composes: bottom color-primary-1 from "@quoine/styles/border.css";
  composes: delay-fast linear fast all-color from
    "@quoine/styles/transition.css";
}

/* cannot use compose here as React Transition Group
 * require 1 class name only
 */
@theme {
  .item:global(.transition-enter) {
    color: $accent;
    background-color: $accent-1;
  }
}
