.default {
  composes: inline-block from "@quoine/styles/display.css";
}
.inline {
  composes: inline from "../Button/styles.css";
}
.text {
  composes: text from "../Button/styles.css";
}
.modal {
  composes: modal from "../Button/styles.css";
  /* link doesn't have center by default */
  composes: center from "@quoine/styles/text.css";
}
.accent {
  composes: accent from "../Button/styles.css";
}
.inverse-light {
  composes: inverse-light from "../Button/styles.css";
}
.negative {
  composes: negative from "../Button/styles.css";
}
.disabled {
  composes: disabled from "../Button/styles.css";
}
