@import url("@quoine/core/styles/_size.css");

.main {
  composes: ver-small hor-medium from "@quoine/styles/padding.css";
  composes: flex from "@quoine/styles/flex.css";
  composes: primary-1 from "@quoine/styles/bg-color.css";
  composes: small line-1-5 from "@quoine/styles/text.css";
}
.col {
  composes: auto from "@quoine/styles/flex.css";
}
