.main {
  composes: relative from "@quoine/styles/position.css";
  composes: mono-number from "@quoine/styles/text.css";
}
.border {
  composes: border-bottom-accent from "@quoine/styles/box-shadow.css";
}

._icon {
  composes: icon from "@quoine/styles/size.css";
  composes: absolute top bottom from "@quoine/styles/position.css";
  composes: auto from "@quoine/styles/margin.css";
}
.plus {
  composes: _icon;
  composes: right from "@quoine/styles/position.css";
}
.minus {
  composes: _icon;
  composes: left from "@quoine/styles/position.css";
}
