$finance-primary-0         : hsla(230, 100%, 12%, 1);
$finance-primary-0-0       : hsla(230, 100%, 12%, 0);
$finance-primary-0-1       : hsla(230, 100%, 12%, 0.1);
$finance-primary-0-2       : hsla(230, 100%, 12%, 0.2);
$finance-primary-0-5       : hsla(230, 100%, 12%, 0.3);
/* === */
$finance-primary-0-accent  : hsla(229, 100%, 7%, 1);
$finance-primary-0-overlay : hsla(229, 100%, 7%, 0.5);
/* === */
$finance-primary-1         : hsla(218, 40%, 80%, 0.08);
$finance-primary-2         : hsla(218, 40%, 80%, 0.25);
$finance-primary-3         : hsla(218, 40%, 80%, 0.5);
$finance-primary-4         : hsla(218, 40%, 80%, 1);
/* === */
$finance-accent            : hsla(216, 91%, 53%, 1);
$finance-accent-1          : hsla(226, 91%, 53%, 0.1);
$finance-accent-2          : hsla(226, 91%, 53%, 0.2);
$finance-accent-light      : hsla(226, 91%, 53%, 0.8);
/* === */
$finance-negative   : hsla(17, 100%, 59%, 1);
$finance-negative-1 : hsla(17, 100%, 59%, 0.2);
$finance-negative-2 : hsla(17, 100%, 59%, 0.4);
/* === */
$finance-positive   : hsla(105, 98%, 40%, 1);
$finance-positive-1 : hsla(105, 98%, 40%, 0.2);
$finance-positive-2 : hsla(105, 98%, 40%, 0.4);
