$purple-primary-0         : hsla(240, 100%, 8%, 1);
$purple-primary-0-0       : hsla(240, 100%, 8%, 0);
$purple-primary-0-1       : hsla(240, 100%, 8%, 0.1);
$purple-primary-0-2       : hsla(240, 100%, 8%, 0.2);
$purple-primary-0-5       : hsla(240, 100%, 8%, 0.3);
/* === */
$purple-primary-0-accent  : hsla(0, 0%, 0%, 1);
$purple-primary-0-overlay : hsla(0, 0%, 0%, 0.5);
/* === */
$purple-primary-1         : hsla(232, 24%, 54%, 0.1);
$purple-primary-2         : hsla(232, 24%, 54%, 0.25);
$purple-primary-3         : hsla(232, 24%, 54%, 0.5);
$purple-primary-4         : hsla(232, 24%, 54%, 1);
/* === */
$purple-accent            : hsla(33, 93%, 54%, 1);
$purple-accent-1          : hsla(33, 93%, 54%, 0.1);
$purple-accent-2          : hsla(33, 93%, 54%, 0.2);
$purple-accent-light      : hsla(33, 93%, 54%, 0.8);
/* === */
$purple-negative   : hsla(355, 46%, 40%, 1);
$purple-negative-1 : hsla(355, 46%, 40%, 0.2);
$purple-negative-2 : hsla(355, 46%, 40%, 0.4);
/* === */
$purple-positive   : hsla(141, 76%, 28%, 1);
$purple-positive-1 : hsla(141, 76%, 28%, 0.2);
$purple-positive-2 : hsla(141, 76%, 28%, 0.4);
