$qryptos-light-primary-0         : hsl(0, 0%, 100%);
$qryptos-light-primary-0-0       : hsla(0, 0%, 100%, 0);
$qryptos-light-primary-0-1       : hsla(0, 0%, 100%, 0.1);
$qryptos-light-primary-0-2       : hsla(0, 0%, 100%, 0.2);
$qryptos-light-primary-0-5       : hsla(0, 0%, 100%, 0.5);
/* === */
$qryptos-light-primary-0-accent  : hsla(50, 21%, 95%, 1);
$qryptos-light-primary-0-overlay : hsla(50, 21%, 95%, 0.5);
/* === */
$qryptos-light-primary-1         : hsla(0, 0%, 24%, 0.05);
$qryptos-light-primary-2         : hsla(0, 0%, 24%, 0.25);
$qryptos-light-primary-3         : hsla(0, 0%, 24%, 0.5);
$qryptos-light-primary-4         : hsla(0, 0%, 24%, 1);
/* === */
$qryptos-light-accent            : hsla(40, 93%, 63%, 1);
$qryptos-light-accent-1          : hsla(40, 93%, 63%, 0.2);
$qryptos-light-accent-2          : hsla(40, 93%, 63%, 0.4);
$qryptos-light-accent-light      : hsla(40, 93%, 63%, 0.7);
/* === */
$qryptos-light-negative   : hsla(6, 72%, 58%, 1);
$qryptos-light-negative-1 : hsla(6, 72%, 58%, 0.2);
$qryptos-light-negative-2 : hsla(6, 72%, 58%, 0.4);
/* === */
$qryptos-light-positive   : hsla(170, 45%, 49%, 1);
$qryptos-light-positive-1 : hsla(170, 45%, 49%, 0.2);
$qryptos-light-positive-2 : hsla(170, 45%, 49%, 0.4);
