@import "@quoine/core/styles/_size.css";

.main {
  composes: full from "@quoine/styles/size.css";
  composes: primary-4 from "@quoine/styles/color.css";
}
.wrapper {
  composes: full from "@quoine/styles/size.css";
}
.menu {
  /* 30 = 24 + 3 + 3 */
  height: calc($base * 2.5);
}
.body {
  /* 100% - menu */
  height: calc(100% - calc($base * 2.5));
  composes: primary-0-accent from "@quoine/styles/bg-color.css";
}
