.base {
  composes: ver-small hor-medium from "@quoine/styles/padding.css";
  composes: semi-bold uppercase from "@quoine/styles/text.css";
}
.panel {
  composes: base;
  composes: center from "@quoine/styles/text.css";
  composes: primary-1 from "@quoine/styles/bg-color.css";
}
.order-book {
  composes: base;
}
