.main {
  composes: relative from "@quoine/styles/position.css";
  composes: icon from "@quoine/styles/size.css";
  /* hide overflow caused by spinning */
  composes: hidden from "@quoine/styles/overflow.css";
}
.background {
  opacity: 0.2;
}
.indicator {
  composes: absolute all from "@quoine/styles/position.css";
  composes: rotate from "@quoine/styles/animation.css";
}
