.input {
  composes: border-bottom-accent-2 from "@quoine/styles/box-shadow.css";
}
.input:last-child {
  box-shadow: none;
}
.help {
  composes: primary-3 from "@quoine/styles/color.css";
  composes: line-3 medium from "@quoine/styles/text.css";
}
.main {
  composes: border-bottom-accent-size-2 from "@quoine/styles/box-shadow.css";
}
