@import url("@quoine/core/styles/_size.css");

.children {
  composes: large line-2-5 from "@quoine/styles/text.css";
  height: calc($base * 2.5);
}
.label {
  composes: uppercase semi-bold small line-1 from "@quoine/styles/text.css";
}
