@import url("@quoine/core/styles/_size.css");

.inline {
  composes: flex from "@quoine/styles/flex.css";
}
.inline .button {
  margin-left: calc($base);
}
.inline .item:not(:first-child) {
  margin-left: calc($base / 2);
}

.hero .button {
  margin-top: calc($base);
}
.hero .item:not(:first-child) {
  margin-top: calc($base / 2);
}
