@import url("@quoine/core/styles/_size.css");

.main {
  composes: height-full from "@quoine/styles/size.css";
  composes: y-auto from "@quoine/styles/overflow.css";
  width: calc($base * 20);
}
.child {
  composes: top size-3 color-primary-0-accent from "@quoine/styles/border.css";
}
.child:first-child {
  border: none;
}
