.main {
}

.label {
  composes: line-2 from "@quoine/styles/text.css";
}
.qr-code {
  composes: bottom-medium from "@quoine/styles/padding.css";
  composes: flex jc-center from "@quoine/styles/flex.css";
}
.qr-code canvas {
  display: block; /* fix qr code height */
}
.code {
  composes: primary-1 from "@quoine/styles/bg-color.css";
  composes: small from "@quoine/styles/padding.css";
  composes: mono line-1-5 from "@quoine/styles/text.css";
  composes: width-full from "@quoine/styles/size.css";
}
