.label {
  composes: primary-3 from "@quoine/styles/color.css";
}
.label-uppercase {
  composes: uppercase from "@quoine/styles/text.css";
}
.label-semi-bold {
  composes: semi-bold from "@quoine/styles/text.css";
}
.label-small {
  composes: small from "@quoine/styles/text.css";
}
.label-line-1-5 {
  composes: line-1-5 from "@quoine/styles/text.css";
}


/* === */
.children {}
.children-line-1-5 {
  composes: line-1-5 from "@quoine/styles/text.css";
}
.children-large {
  composes: large from "@quoine/styles/text.css";
}
.children-overflow-hidden {
  composes: hidden from "@quoine/styles/overflow.css";
}


/* === */

.main-ratio {
  composes: flex from "@quoine/styles/flex.css";
}
.ratio-1 {
  composes: auto from "@quoine/styles/flex.css";
  flex: 1;
}
.ratio-2 {
  composes: auto from "@quoine/styles/flex.css";
  flex: 2;
}
.ratio-3 {
  composes: auto from "@quoine/styles/flex.css";
  flex: 3;
}

/* === */

.main-inline {
  composes: flex from "@quoine/styles/flex.css";
  composes: width-full from "@quoine/styles/size.css";
}
.label-inline {
  composes: fix from "@quoine/styles/flex.css";
  composes: nowrap from "@quoine/styles/text.css";
}
.label-inline:after {
  content: ':';
}
.children-inline {
  composes: auto from "@quoine/styles/flex.css";
  composes: left-small from "@quoine/styles/margin.css";
  composes: break-word from "@quoine/styles/text.css";
}

/* === */

.main-justify {
  composes: flex jc-space-between from "@quoine/styles/flex.css";
}
.label-justify {
  composes: fix from "@quoine/styles/flex.css";
}
.children-justify {
  composes: fix from "@quoine/styles/flex.css";
}


/* === */
/* manually value here to match with line-height 36px */
.main-reverse {
  composes: flex column from "@quoine/styles/flex.css";
  padding-bottom: 4px;
}
/* match with ProductOverviewSmall */
.label-reverse {
  composes: small from "@quoine/styles/text.css";
  line-height: 10px;
  order: 2;
}
.value-reverse {
  composes: large from "@quoine/styles/text.css";
  line-height: 22px;
  order: 1;
}

