@import "@quoine/core/styles/_size.css";

.main {
  composes: flex wrap from "@quoine/styles/flex.css";
  margin: 0 calc($base * -1);
}
.option {
  composes: fix from "@quoine/styles/flex.css";
  composes: hor-medium from "@quoine/styles/padding.css";
  flex-shrink: 1;
}
