.main {
  composes: top-x-large from "@quoine/styles/padding.css";
}
.body {
  composes: hor-xx-large from "@quoine/styles/padding.css";
}
.error {
  composes: line-1-5 from "@quoine/styles/text.css";
}
.submit {
  composes: top-large from "@quoine/styles/margin.css";
}

/* === */

.message {
  composes: hor-xx-large ver-x-large from "@quoine/styles/padding.css";
  composes: large from "@quoine/styles/text.css";
}
.link {
  composes: block from "@quoine/styles/display.css";
  composes: center from "@quoine/styles/text.css";
  composes: modal accent from "@quoine/core/components/Button/styles.css";
}