.main {
  composes: top-x-large from "@quoine/styles/padding.css";
}
.body {
  composes: hor-xx-large from "@quoine/styles/padding.css";
}
.error {
  composes: line-1-5 from "@quoine/styles/text.css";
}
.submit {
  composes: top-large from "@quoine/styles/margin.css";
}
