@import url("@quoine/styles/_size.css");

.main {
  composes: flex from "../../styles/flex.css";
  composes: ver-x-small from "../../styles/padding.css";
}
.label {
  composes: left-medium from "../../styles/margin.css";
  composes: pointer from "../../styles/cursor.css";
  composes: line-1-5 from "../../styles/text.css";
}
.wrapper {
  composes: relative from "../../styles/position.css";
}
.input {
  composes: block from "../../styles/display.css";
  composes: all size-2 from "../../styles/border.css";
  width: calc($base * 1.5);
  height: calc($base * 1.5);
  border-radius: 100%;
}
.check {
  composes: accent from "../../styles/bg-color.css";
  composes: absolute left right from "../../styles/position.css";
  composes: auto from "../../styles/margin.css";
  composes: none from "../../styles/pointer-events.css";
  width: calc($base / 2);
  height: calc($base / 2);
  border-radius: 100%;
  top: calc($base / 2);
}
.hide {
  composes: none from "../../styles/display.css";
}
