@import "@quoine/core/styles/_size.css";

.main {
  composes: flex from "@quoine/styles/flex.css";
}

.pnl {
  composes: left-medium from "@quoine/styles/margin.css";
  width: calc($base * 10);
}

.position {
  width: calc($base * 10);
}
