.main {
  composes: medium from "@quoine/styles/padding.css";
}

.help {
  composes: line-1-5 from "@quoine/styles/text.css";
}
.body {
  composes: top-medium from "@quoine/styles/margin.css";
}

.item {
  composes: top-medium from "@quoine/styles/margin.css";
}
.item:first-child {
  margin: 0;
}