.main {
  composes: ver-small hor-medium from "@quoine/styles/padding.css";
  composes: flex jc-space-between from "@quoine/styles/flex.css";
}
.created {
  composes: fix from "@quoine/styles/flex.css";
}
.type {
  composes: left-medium from "@quoine/styles/margin.css";
  composes: auto from "@quoine/styles/flex.css";
}
.quantity {
  composes: fix from "@quoine/styles/flex.css";
}
