.main {
  composes: flex jc-space-between from "@quoine/styles/flex.css";
}
.accounts {
  composes: flex from "@quoine/styles/flex.css";
}
.manage {
  composes: left color-primary-1 size-2 from "@quoine/styles/border.css";
  composes: left-x-small from "@quoine/styles/margin.css";
  composes: left-x-small from "@quoine/styles/padding.css";
}
