@import "@quoine/core/styles/_size.css";

._overlay {
  composes: fixed all from "@quoine/styles/position.css";
  z-index: 3;
}
.overlay-visible {
  composes: _overlay;
  composes: primary-0-overlay from "@quoine/styles/bg-color.css";
}
.overlay-invisible {
  composes: _overlay;
}

._body {
  composes: primary-0 from "@quoine/styles/bg-color.css";
  composes: height-full from "@quoine/styles/size.css";

  composes: absolute top from "@quoine/styles/position.css";
  composes: y-auto from "@quoine/styles/overflow.css";
  width: calc($base * 16);
}
.body-left {
  composes: _body;
  composes: left from "@quoine/styles/position.css";
}
.body-right {
  composes: _body;
  composes: right from "@quoine/styles/position.css";
}
