@import url('./_colors.css');

/* default */
@theme {
  .border-accent {
    box-shadow: $accent 0px 0px 0px 1px inset;
  }
  .border-bottom-accent {
    box-shadow: $accent 0px -1px 0px 0px inset;
  }
  .border-bottom-accent-2 {
    box-shadow: $accent-2 0px -1px 0px 0px inset;
  }
  .border-left-accent-size-2 {
    box-shadow: $accent 2px 0px 0px 0px inset;
  }
  .border-bottom-accent-size-2 {
    box-shadow: $accent 0px -2px 0px 0px inset;
  }
  .focus-border-all-accent:focus {
    box-shadow: $accent 0px 0px 0px 1px inset;
  }
  .focus-border-all-negative:focus {
    box-shadow: $negative 0px 0px 0px 1px inset;
  }
  .focus-border-all-positive:focus {
    box-shadow: $positive 0px 0px 0px 1px inset;
  }
  .focus-border-all-primary-0-5:focus {
    box-shadow: $primary-0-5 0px 0px 0px 1px inset;
  }
}
