.auto {
  overflow: auto;
}
.x-auto {
  overflow-x: auto;
}
.y-auto {
  overflow-y: auto;
}
/* === */
.x-scroll {
  overflow-x: scroll;
}
.y-scroll {
  overflow-y: scroll;
}
/* === */
.hidden {
  overflow: hidden;
}
.x-hidden {
  overflow-x: hidden;
}
.y-hidden {
  overflow-y: hidden;
}
.visible {
  overflow: visible;
}
