@import "@quoine/core/styles/_size.css";

.main {
  composes: relative from "@quoine/styles/position.css";
}

.steps {
  composes: fixed from "@quoine/styles/position.css";
  top: calc($base * 5);
  left: calc(50% - calc($base * 42));
}

.error {
  composes: ver-medium hor-xx-large from "@quoine/styles/padding.css";
  composes: negative from "@quoine/styles/bg-color.css";
  composes: primary-0 from "@quoine/styles/color.css";
}
