.main {
  composes: flex from "@quoine/styles/flex.css";
}
.title {
  composes: primary-2 from "@quoine/styles/color.css";
  composes: uppercase semi-bold from "@quoine/styles/text.css";
}
.body {
  composes: left-large from "@quoine/styles/margin.css";
}
