.main {
  composes: top-x-large from "@quoine/styles/padding.css";
}

.body {
  composes: hor-xx-large from "@quoine/styles/padding.css";
}

.input {
  composes: top-x-large from "@quoine/styles/margin.css";
}

.input:first-child {
  margin-top: 0;
}

.help {
  composes: line-1-5 from "@quoine/styles/text.css";
  composes: primary-3 from "@quoine/styles/color.css";
  composes: top-medium from "@quoine/styles/margin.css";
}

.error {
  composes: top-x-large from "@quoine/styles/margin.css";
  composes: line-1-5 from "@quoine/styles/text.css";
  composes: negative from "@quoine/styles/color.css";
}

.submit {
  composes: top-large from "@quoine/styles/margin.css";
}
