@import url("@quoine/core/styles/_size.css");

$header: calc($base * 3 + 2px);

.main {
  composes: height-full from "@quoine/styles/size.css";
  composes: relative from "@quoine/styles/position.css";
  min-width: calc($base * 24);
}
.header {
  composes: bottom size-2 color-primary-1 from "@quoine/styles/border.css";
}

/* === */

.single > .primary {
  height: calc(100% - calc($header));
}
.double > .primary,
.double > .secondary {
  height: calc(50% - calc($header / 2));
}
.secondary {
  composes: top size-2 color-primary-1 from "@quoine/styles/border.css";
}
.primary,
.secondary {
  composes: hidden from "@quoine/styles/overflow.css";
}

