.main {
  composes: full from "@quoine/styles/size.css";
  composes: flex ai-center from "@quoine/styles/flex.css";
}
.all {
  composes: width-full from "@quoine/styles/size.css";
  composes: primary-1 from "@quoine/styles/bg-color.css";
  height: 2px;
}
.filled {
  composes: height-full from "@quoine/styles/size.css";
  composes: accent from "@quoine/styles/bg-color.css";
}
