.base {
  composes: block from "@quoine/styles/display.css";
  composes: width-full from "@quoine/styles/size.css";

  composes: focus-accent from "@quoine/styles/color.css";
  composes: focus-accent-1 from "@quoine/styles/bg-color.css";
}
.main {
  composes: base;
  composes: center from "@quoine/styles/text.css";
}
.left {
  composes: base;
  composes: left-small from "@quoine/styles/padding.css";
}
.border {
  composes: border-bottom-accent-size-2 from "@quoine/styles/box-shadow.css";
}
.border-large {
  composes: border-bottom-accent-size-2 from "@quoine/styles/box-shadow.css";
}
