.main {
  composes: flex from "@quoine/styles/flex.css";
}
.label {
  composes: primary-3 from "@quoine/styles/color.css";
  composes: fix from "@quoine/styles/flex.css";
}
.input {
  composes: auto from "@quoine/styles/flex.css";
  composes: border-bottom-accent-size-2 from "@quoine/styles/box-shadow.css";
  /* composes: left-small from "@quoine/styles/margin.css"; */
}
