.buy, .long, .positive, .in {
  composes: positive from "@quoine/styles/color.css";
}
.sell, .short, .negative, .out {
  composes: negative from "@quoine/styles/color.css";
}
.both {
  composes: accent from "@quoine/styles/color.css";
}
.light {
  composes: primary-3 from "@quoine/styles/color.css";
}
