/*
$qryptos-dark-primary-0         : hsla(50, 67%, 7%, 1);
$qryptos-dark-primary-0-0       : hsla(50, 67%, 7%, 0);
$qryptos-dark-primary-0-1       : hsla(50, 67%, 7%, 0.1);
$qryptos-dark-primary-0-2       : hsla(50, 67%, 7%, 0.2);
$qryptos-dark-primary-0-5       : hsla(50, 67%, 7%, 0.3);

$qryptos-dark-primary-0-accent  : hsla(50, 67%, 5%, 1);
$qryptos-dark-primary-0-overlay : hsla(50, 67%, 5%, 0.5);

$qryptos-dark-primary-1         : hsla(0, 100%, 100%, 0.05);
$qryptos-dark-primary-2         : hsla(0, 100%, 100%, 0.25);
$qryptos-dark-primary-3         : hsla(0, 100%, 100%, 0.5);
$qryptos-dark-primary-4         : hsla(0, 100%, 100%, 1);

$qryptos-dark-accent            : hsla(49, 71%, 49%, 1);
$qryptos-dark-accent-1          : hsla(49, 71%, 49%, 0.1);
$qryptos-dark-accent-2          : hsla(49, 71%, 49%, 0.2);
$qryptos-dark-accent-light      : hsla(49, 71%, 49%, 0.8);

$qryptos-dark-negative          : hsla(18, 70%, 50%, 1);
$qryptos-dark-negative-1        : hsla(18, 70%, 50%, 0.2);
$qryptos-dark-negative-2        : hsla(18, 70%, 50%, 0.4);

$qryptos-dark-positive          : hsla(89, 70%, 50%, 1);
$qryptos-dark-positive-1        : hsla(89, 70%, 50%, 0.2);
$qryptos-dark-positive-2        : hsla(89, 70%, 50%, 0.4);
*/


#library-container {
  border: none !important;
}

.bottom-widgetbar-content.backtesting .button,
.header-chart-panel .button,
.hotlist-controls .button,
.symbol-edit-widget .button,
.favored-list-container span,

.drawing-favorites-toolbar .tools-group .button.active,
.feature-no-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-no-touch .properties-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-no-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.feature-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-touch .properties-toolbar .tools-group .button:active,
.feature-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.properties-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.active .side,
.tv-side-toolbar .tools-group .button.selected .main,
.tv-side-toolbar .tools-group .button:not(.subgroup).active,
.tv-side-toolbar .tools-group .button:not(.subgroup).selected,

.drawing-favorites-toolbar .tools-group .button,
.feature-no-touch .tv-side-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:hover,
.feature-touch .tv-side-toolbar .tools-group .button:active,
.properties-toolbar .tools-group .button,
.tv-side-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.selected,

#library-container .feature-no-touch .header-chart-panel .button.disabled:active,
#library-container .feature-touch .header-chart-panel .button.disabled:active,
#library-container .header-chart-panel .button.disabled,
#library-container .header-chart-panel .button.disabled.active,

.tv-close-panel,

.chart-controls-bar {
  color: hsla(0, 100%, 100%, 0.5) !important; /* $primary-3 */
  background-color: hsla(50, 67%, 5%, 1) !important; /* $primary-0-accent */
  border-color: hsla(50, 67%, 7%, 0.2) !important; /* $primary-0-2 */
}

.tv-side-toolbar .button.selected svg {
  fill: hsla(49, 71%, 49%, 1) !important; /* $accent */
}

.chart-controls-bar-buttons a {
  color: hsla(0, 100%, 100%, 0.5) !important; /* $primary-3 */
  fill: hsla(0, 100%, 100%, 0.5) !important; /* $primary-3 */
  stroke: hsla(0, 100%, 100%, 0.5) !important; /* $primary-3 */
}

.tv-side-toolbar,
.chart-page .chart-container,
.chart-controls-bar-buttons a:before {
  border-color: hsla(50, 67%, 7%, 0.8) !important; /* $primary-0-8 */
}

.feature-no-touch .chart-controls-bar-buttons a:not(.disabled):hover {
  background-color: hsla(50, 67%, 5%, 1) !important; /* $primary-0-accent */
}

.chart-style-popup .item svg,
.chart-style-widget svg,
.tv-side-toolbar .button svg,
.tv-side-toolbar .tools-group .button .main.text-as-icon,
.button.fullscreen svg,
.button.indicators svg {
  fill: hsla(0, 100%, 100%, 0.5) !important; /* $primary-3 */;
  color: hsla(0, 100%, 100%, 0.5) !important; /* $primary-3 */;
}
