@import url("@quoine/core/styles/_size.css");

.message {
  composes: negative from "@quoine/styles/color.css";
}

.inline,
.box {
  composes: flex from "@quoine/styles/flex.css";
}
.inline .button,
.box .button {
  margin-left: calc($base / 2);
}

.hero .button {
  margin-top: calc($base / 2);
}
.box .message {
  line-height: calc($base * 1.5);
}
.box {
  composes: wrap from "@quoine/styles/flex.css";
}
