.label {
  composes: uppercase semi-bold line-1 small from "@quoine/styles/text.css";
}
.children {
  composes: x-large line-4 left from "@quoine/styles/text.css";
}
/* ugly fix IE */
/* TODO */
.children input {
  text-align: left;
  height: 48px;
}
.children input[type=checkbox],
.children input[type=radio] {
  height: 18px;
}