.label {
  composes: uppercase semi-bold line-1 small from "@quoine/styles/text.css";
}
.children {
  composes: x-large line-4 left from "@quoine/styles/text.css";
}
/* ugly fix */
/* TODO */
.children input {
  text-align: left;
  height: 48px;
}
