$dark-2-primary-0         : hsla(218, 26%, 19%, 1);
$dark-2-primary-0-0       : hsla(218, 26%, 19%, 0);
$dark-2-primary-0-1       : hsla(218, 26%, 19%, 0.1);
$dark-2-primary-0-2       : hsla(218, 26%, 19%, 0.2);
$dark-2-primary-0-5       : hsla(218, 26%, 19%, 0.3);
/* === */
$dark-2-primary-0-accent  : hsla(218, 31%, 12%, 1);
$dark-2-primary-0-overlay : hsla(218, 31%, 12%, 0.5);
/* === */
$dark-2-primary-1         : hsla(218, 26%, 86%, 0.06);
$dark-2-primary-2         : hsla(218, 26%, 86%, 0.25);
$dark-2-primary-3         : hsla(218, 26%, 86%, 0.5);
$dark-2-primary-4         : hsla(218, 26%, 86%, 1);
/* === */
$dark-2-accent            : hsl(206, 94%, 57%);
$dark-2-accent-1          : hsla(206, 94%, 57%, 0.1);
$dark-2-accent-2          : hsla(206, 94%, 57%, 0.2);
$dark-2-accent-light      : hsl(206, 81%, 36%);
/* === */
$dark-2-negative   : hsl(352, 100%, 65%);
$dark-2-negative-1 : hsla(352, 100%, 65%, 0.1);
$dark-2-negative-2 : hsla(352, 100%, 65%, 0.2);
/* === */
$dark-2-positive   : hsl(151, 100%, 45%);
$dark-2-positive-1 : hsla(151, 100%, 45%, 0.1);
$dark-2-positive-2 : hsla(151, 100%, 45%, 0.2);
