$dark-primary-0         : hsl(207, 19%, 9%);          /* panel background */
$dark-primary-0-0       : hsla(207, 19%, 9%, 0);      /* for animation */
$dark-primary-0-1       : hsla(207, 19%, 9%, 0.2);
$dark-primary-0-2       : hsla(207, 19%, 9%, 0.4);
$dark-primary-0-5       : hsla(207, 19%, 9%, 0.8);
/* === */
$dark-primary-0-accent  : hsl(203, 64%, 10%);        /* app background */
$dark-primary-0-overlay : hsla(207, 19%, 9%, 0.5);   /* modal background */
/* === */
$dark-primary-1         : hsl(203, 64%, 10%);        /* header background, disabled control icon */
$dark-primary-2         : hsl(203, 52%, 18%);        /* disabled text, control icon */
$dark-primary-3         : hsl(202, 64%, 27%);        /* secondary text */
$dark-primary-4         : hsl(202, 64%, 39%);        /* primary text */
/* === */
$dark-accent            : hsl(202, 85%, 57%);        /* accent color to highlight things */
$dark-accent-1          : hsla(202, 85%, 57%, 0.2);
$dark-accent-2          : hsla(202, 85%, 57%, 0.4);
$dark-accent-light      : hsl(202, 64%, 27%);
/* === */
$dark-negative   : hsl(4, 90%, 58%);          /* sell, short, withdraw, close, cancel */
$dark-negative-1 : hsla(4, 90%, 58%, 0.1);
$dark-negative-2 : hsla(4, 90%, 58%, 0.2);
/* === */
$dark-positive   : hsl(122, 57%, 41%);        /* buy, long, fund */
$dark-positive-1 : hsla(122, 57%, 41%, 0.1);
$dark-positive-2 : hsla(122, 57%, 41%, 0.2);
