$green-primary-0         : hsla(204, 43%, 17%, 1);
$green-primary-0-0       : hsla(204, 43%, 17%, 0);
$green-primary-0-1       : hsla(204, 43%, 17%, 0.1);
$green-primary-0-2       : hsla(204, 43%, 17%, 0.2);
$green-primary-0-5       : hsla(204, 43%, 17%, 0.5);
/* === */
$green-primary-0-accent  : hsla(203, 45%, 11%, 1);
$green-primary-0-overlay : hsla(203, 45%, 11%, 0.5);
/* === */
$green-primary-1         : hsla(0, 100%, 100%, 0.05);
$green-primary-2         : hsla(0, 100%, 100%, 0.25);
$green-primary-3         : hsla(0, 100%, 100%, 0.5);
$green-primary-4         : hsla(0, 100%, 100%, 1);
/* === */
$green-accent            : hsla(44, 100%, 50%, 1);
$green-accent-1          : hsla(44, 100%, 50%, 0.2);
$green-accent-2          : hsla(44, 100%, 50%, 0.4);
$green-accent-light      : hsla(44, 100%, 50%, 0.7);
/* === */
$green-negative   : hsla(24, 100%, 50%, 1);
$green-negative-1 : hsla(24, 100%, 50%, 0.2);
$green-negative-2 : hsla(24, 100%, 50%, 0.4);
/* === */
$green-positive   : hsla(74, 67%, 46%, 1);
$green-positive-1 : hsla(74, 67%, 46%, 0.2);
$green-positive-2 : hsla(74, 67%, 46%, 0.4);
