$traders-dark-primary-0         : hsla(240, 100%, 7%, 1);
$traders-dark-primary-0-0       : hsla(240, 100%, 7%, 0);
$traders-dark-primary-0-1       : hsla(240, 100%, 7%, 0.1);
$traders-dark-primary-0-2       : hsla(240, 100%, 7%, 0.2);
$traders-dark-primary-0-5       : hsla(240, 100%, 7%, 0.5);
/* === */
$traders-dark-primary-0-accent  : hsla(205, 82%, 15%, 1);
$traders-dark-primary-0-overlay : hsla(205, 82%, 15%, 0.5);
/* === */
$traders-dark-primary-1         : hsla(205, 33%, 48%, 0.05);
$traders-dark-primary-2         : hsla(205, 33%, 48%, 0.25);
$traders-dark-primary-3         : hsla(205, 33%, 48%, 0.5);
$traders-dark-primary-4         : hsla(205, 33%, 48%, 1);
/* === */
$traders-dark-accent            : hsla(205, 100%, 25%, 1);
$traders-dark-accent-1          : hsla(205, 100%, 25%, 0.1);
$traders-dark-accent-2          : hsla(205, 100%, 25%, 0.2);
$traders-dark-accent-light      : hsla(205, 100%, 25%, 0.5);
/* === */
$traders-dark-negative   : hsla(4, 48%, 45%, 1);
$traders-dark-negative-1 : hsla(4, 48%, 45%, 0.1);
$traders-dark-negative-2 : hsla(4, 48%, 45%, 0.2);
/* === */
$traders-dark-positive   : hsla(122, 39%, 38%, 1);
$traders-dark-positive-1 : hsla(122, 39%, 38%, 0.1);
$traders-dark-positive-2 : hsla(122, 39%, 38%, 0.2);
